.question{
    width: 420px;
    margin-top: 30px;
    height: 30px;
    border-radius: 10px;
    border: none;
}

.btn{
    border-radius: 10px;
    background-color: #07912e;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 17px;
    width: 17px;
    margin-left:3px;
    margin-right: 2px;
    border: none;
    color: azure;
  }