
.App {
  text-align: center;
  margin: 100px auto;
  
}
img{
  height: 170px;
  width: 180px;
  border-radius: 50%;
 
}
h1{
  color: #ed8207;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

